#welcome-page {
  background-image: url('img/sf_skyline.jpg');
  height: 1000px;
  width: 100%;
  background-attachment: fixed;
}

#welcome-content {
  display: inline-block;
  text-align: center;
  margin-top: 400px;
  font-family: 'Raleway', sans-serif;
  color: white;
}

#welcome-content h1 {
  font-size: 75px;
}

#welcome-content p, #welcome-content a {
  font-size: 25px;
  color: white;
}


#search-option {
  background-image: url('img/sf2.jpg');
  height: 1000px;
  width: 100%;
  background-attachment: fixed;   
}

#search-option-content {
  display: inline-block;
  margin-top: 300px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.input-content {
  text-align: left;
  display: table;
  margin-left: 358px;
}

.aligners {
  display: table-row;
}

.address-search label {
  display: table-cell;
  text-align: left;
}

.address-search input {
  display: table-cell;
  text-align: left;
}


#search-option-content p, #search-option-content label {
  color: white;
  font-size: 35px;
}

#search-option-content input {
  font-size: 20px;
}

#service-search {
  background-color: #83848D;
  height: 1000px;
  width: 100%;
  background-attachment: fixed;
}

.img-label {
  display: inline-block;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-weight: bold;
  margin-bottom: 0px

}

#service-intro {
  font-size: 48px;
  font-family: 'Raleway', sans-serif;
  color: white;
}

.button-content {
  width: 100%;
}

#neighborhood-welcome {
  font-size: 48px;
}

#new-service-search {
  height: 200px;
  font-family: 'Raleway', sans-serif;
}

.container { 
  position: relative;
  width: 200px; 
  height: 175px; 
  display: inline-block;
  margin-right: 30px;
  margin-top: 30px;
  text-align: center;
  background-color: #ADB1BD;
  float: left;
}

.checkbox { 
  position: absolute; 
  top: 0px; 
  left: 0px;
}

.img-container {
  margin-top: 35px;
}


#search {
  display: block;
}

#new-search-bar {
  width: 300px; 
  float: left;
}

#map {
  height: 800px;
  margin-left:320px;
}

#results {
  width: 100%; 
  overflow: hidden;
}