<!doctype html>

<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>{% block title %} {% endblock %}</title>
  </head>
  <script src="http://code.jquery.com/jquery.js"></script>

  {% if g.jasmine_tests %}
      <!-- stuff for testing -->
      <link rel="stylesheet" href="/static/jasmine.min.css">
      <script src="/static/jasmine.min.js"></script>
      <script src="/static/jasmine-html.min.js"></script>
      <script src="/static/boot.min.js"></script>
      <script src="/static/jasmine-jquery.js"></script>
      <script src="/static/jasmine-tests.js"></script>
      <!-- end of stuff for testing -->
  {% endif %}

  {% block head %}
  {% endblock %}

  <body>
    <nav class="navbar navbar-default">
     <div class="container-fluid">  
         <ul class="nav navbar-nav navbar" id="nav-bar-home">
          <li><a class="navbar-brand" href="/">Home</a></li>
           {% if 'user_id' in session %}
             <li><a href='/logged-out'>Log out</a></li>
             <li><a href="/user/{{ session['user_id'] }}">See your places</a></li>
           {% else %}
             <li><a href="/sign-up">Create an account</a></li>
             <li><a href="/login" id='logged-out'>Log in</a></li>
           {% endif %}
         </ul>
         </div>
       </nav>

    <!-- Show flashed messges -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class='alert alert-warning'>{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

  
  </body>
</html>