<!doctype html>

<html>
  <head>
    <title>{% block title %} {% endblock %}</title>
  </head>
  <script src="http://code.jquery.com/jquery.js">
  </script>
  <style type="text/css">
    #map {
           height: 800px;
         }
  </style>

  {% block head %}
  {% endblock %}

  <body>
    <header>
     <a href="/">Home</a>
      {% if 'user_id' in session %}
        <a href='/logged-out'>Log out</a>
        <a href="/user/{{ session['user_id'] }}">See your places</a>
      {% else %}
        <a href="/sign-up">Create an account</a>
        <a href="/login" id='logged-out'>Log in</a>
      {% endif %}
    </header>

    <!-- Show flashed messges -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class='alert alert-warning'>{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

  
  </body>
</html>