{% extends 'base.html' %}

{% block title %}Welcome to the Neighborhood{% endblock %}

{% block head %}
  <link href="/static/homepage.css" rel="stylesheet">
  <script async defer src="https://maps.googleapis.com/maps/api/js?sensor=false&key={{ api_key }}"></script>
  <script type='text/javascript' src='/static/neighborhood.js'></script>
  <script type='text/javascript' src='/static/homepage.js'></script>
{% endblock %}

{% block content %}
  <div id='welcome-page'>
    <h1>Welcome to the Neighborhood</h1>
    <p>Get going fast in your new neighborhood with our recommendations</p>
    <a class='jumper' href='#search-option'>Next</a>
  </div>

  <div id='search-option'>
    <form id='geo-search'>
      <p>I'd like to search by:</p>
      <input type='radio' name='search-type' id='neighborhood-search'>Neighborhood <br>
      <input type='radio' name='search-type' id='address-search'>Address<br>
      <p hidden class='neighborhood-search'>What neighborhood do you live in?</p><br>
      <select name='neighborhood' id='neighborhood' class='neighborhood-search' hidden>
        <option value='blank' selected='selected'></option>
        {% for neighborhood in neighborhoods %}
          {% if neighborhood.county == 'San Francisco' %}
            <option value="{{ neighborhood.name }}, {{ neighborhood.city }}, {{ neighborhood.state }}"> 
            {{ neighborhood.name }}
            </option>
          {% endif %}
        {% endfor %} 
      </select><br>
      <p hidden class='address-search'> What is your address? </p><br>
      <input type='text' name='address' id='address' class='address-search' hidden><br><br>
    </form>
    <button><a class='jumper' href='#service-search'>Go</a></button>
  </div>
  <br>

  <div id='service-search'>
    <form>
      I'm looking for: <br>
      {% for service in services %}
        <input type='checkbox' name='service' value='{{ service.service_id }}'>
        {{ service.name }}
        <br>
      {% endfor %}
      <br>
    </form>
    <button id='search'>Go</button>
  </div>
  
  <div id ='results' style='width: 100%; overflow: hidden;'></div>
    <div id='neighborhood-welcome'></div>
    <div id='new-search-bar' style='width: 200px; float:left;'></div>
    <div id='map' style='margin-left:220px;'></div>
  </div>
{% endblock %}