{% extends 'base.html' %}

{% block title %} Welcome to the Neighborhood
{% endblock %}

{% block head %}
  <div hidden id='info' 
  data-neighborhood="{{ neighborhood }}"
  data-services="{{ service_ids }}" ></div>
  
  <link href="/static/user_info.css" rel="stylesheet">
  <script src="http://code.jquery.com/jquery.js">
  </script>
  <script src='/static/neighborhood.js'></script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap">
  </script>
{% endblock %}

{% block content %}
<h1>{{ neighborhood }} </h1>
<div id="map"></div>

{% endblock %}
