

<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        height: 400px;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <input type='hidden' id='pin' value= "{{ service_locations }}">
    <div id="map"></div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap">
    </script>
    <script type="text/javascript">
      function initMap() {

      
        $.get('/info.json', function (results) {
          var position = results.neighborhood
          var map = new google.maps.Map(document.getElementById("map"), {
          zoom: 15,
          center: position
        });


          // creates markers
          for (var key in results.services) {
            service = results.services[key];

            var marker = new google.maps.Marker({
              position: new google.maps.LatLng(service.lat, service.lng),
              map: map,
          });
        }
      });
    }
    </script>

  </body>
</html>