{% extends 'base.html' %}

{% block title %}Welcome to the Neighborhood{% endblock %}

{% block head %}
  <link href="/static/user_info.css" rel="stylesheet">
  <script  src="https://maps.googleapis.com/maps/api/js?sensor=false&key={{ api_key }}"></script>
  <script type='text/javascript' src='/static/user_info.js'></script>
{% endblock %}

{% block content %}
  <div id='favs_map'></div>
  <div id='fav_places'>
    <h3>Your favorite places</h3>
    <ul>
    </ul>
  </div>
  <div id='recs'>
      <h3>You might also like</h3>
      <ul></ul>
  </div>
{% endblock %}